    <!-- Page Header -->
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Edit user details</h2>
        
        <form action="/settings" method="post">
          <input type="hidden" name="_method" value="patch">


          <div class="form-group userform">
            <label for="username">Name*</label>
            <input class="form-control" name="name" type="text" value="<%= @user['name'] %>">
            <% if !!@user %>
              <%= @user.errors.messages[:name].join(", ") %>
            <% end %>
          </div>

          <div class="form-group userform">
            <label for="username">Username*</label>
            <input class="form-control" name="username" type="text" value="<%= @user['username'] %>">
            <% if !!@user %>
              <%= @user.errors.messages[:username].join(", ") %>
              <%= @username_error %>
            <% end %>
          </div>

          <div class="form-group userform">
            <label for="email">Email*</label>
            <input class="form-control" name="email" type="text" value="<%= @user['email'] %>">
            <% if !!@user %>
              <%= @user.errors.messages[:email].join(", ") %>
            <% end %>
          </div>

          <div class="form-group userform">
            <label for="password_old">Old password</label>
            <input class="form-control" name="password_old" type="password" value="<%= @password_old %>">
            <%= @password_error %>
          </div>

          <div class="form-group userform">
            <label for="password_new">New password</label>
            <input class="form-control" name="password_new" type="password">
            <%= @password_new_error %>
          </div>

          <div class="form-group userform">
            <label for="password_verify">Verify new Password</label>
            <input class="form-control" name="password_verify" type="password">
            <%= @password_verify_error %>
          </div>

          <div class="form-group userform">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" cols="35" rows="3"><%= @user['description'] %></textarea>
          </div>

          <button class="btn btn-default">Update details</button>
          <%= @saved_message %>
        </form>
      </div>

    </div>