    <!-- Page Header -->
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Create user account</h2>
        
        <form action="/signup" method="post">
          <div class="form-group userform">
            <label for="">Name*</label>
            <% if !@user %>
              <input class="form-control" name="name" type="text">
            <% else %>
              <input class="form-control" name="name" type="text" value="<%= @user.name %>">
              <%= @user.errors.messages[:name].join(", ") %>
            <% end %>
          </div>

          <div class="form-group userform">
            <label for="">Username*</label>
            <% if !@user %>
              <input class="form-control" name="username" type="text">
            <% else %>
              <input class="form-control" name="username" type="text" value="<%= @user.username %>">
              <%= @user.errors.messages[:username].join(", ") %>
              <%= @username_error %>
            <% end %>
          </div>

          <div class="form-group userform">
            <label for="">Email*</label>
            <% if !@user %>
              <input class="form-control" name="email" type="text">
            <% else %>
              <input class="form-control" name="email" type="text" value="<%= @user.email %>">
              <%= @user.errors.messages[:email].join(", ") %>
            <% end %>
          </div>

          <div class="form-group userform">
            <label for="">Password*</label>
            <input class="form-control" name="password" type="password">
            <%= @password_error %>
          </div>

          <div class="form-group userform">
            <label for="">Verify Password*</label>
            <input class="form-control" name="password_verify" type="password">
            <%= @password_verify_error %>
          </div>

          <div class="form-group userform">
            <label for="">Description</label>
            <% if !@user %>
              <textarea class="form-control" name="description" cols="35" rows="3"></textarea>
            <% else %>
              <textarea class="form-control" name="description" cols="35" rows="3"><%= @user.description %></textarea>
            <% end %>
          </div class="form-group userform">

          <button class="btn btn-default">Create user</button>
        </form>
      </div>
      

      <br>
      <br>

    </div>