    <!-- Page Header -->
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Create user account</h2>
        
        <form action="/signup" method="post">
          <div>
            <label for="">Name*</label>
            <% if !@user %>
              <input name="name" type="text">
            <% else %>
              <input name="name" type="text" value="<%= @user.name %>">
              <%= @user.errors.messages[:name].join(", ") %>
            <% end %>
          </div>

          <div>
            <label for="">Username*</label>
            <% if !@user %>
              <input name="username" type="text">
            <% else %>
              <input name="username" type="text" value="<%= @user.username %>">
              <%= @user.errors.messages[:username].join(", ") %>
            <% end %>
          </div>

          <div>
            <label for="">Email*</label>
            <% if !@user %>
              <input name="email" type="text">
            <% else %>
              <input name="email" type="text" value="<%= @user.email %>">
              <%= @user.errors.messages[:email].join(", ") %>
            <% end %>
          </div>

          <div>
            <label for="">Password*</label>
            <input name="password" type="password">
            <% if !!@user && !@password_error %>
              <%= @user.errors.messages[:password_digest].join(", ") %>
            <% end %>
          </div>

          <div>
            <label for="">Verify Password*</label>
            <input name="password_verify" type="password">
            <%= @password_verify_error %>
          </div>

          <div>
            <label for="">Description</label>
            <% if !@user %>
              <textarea name="description" cols="35" rows="3"></textarea>
            <% else %>
              <textarea name="description" cols="35" rows="3"><%= @user.description %></textarea>
            <% end %>
          </div>

          <button>Create user</button>
        </form>
      </div>

    </div>